.top-panel{
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    box-shadow: 0 5px 20px rgb(205 205 205);
}
.homeLogo{
    font-size: 20px;
    font-weight: bold;
    padding-left: 40px;
    /*color: #2196f3;*/
}
.exitLearn{
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
}
.exitLearn a{  
    color: black;
    /*text-decoration: none;*/
}
.quizTitle{
    font-size: 20px;
    font-weight: bold;
    height: auto;
    padding-right: 140px;
}
.cards__single {


    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    border-radius: 16px;
    border: 3px solid #e0e0e0;
    /*box-shadow: 0 5px 18px rgb(135 135 135);*/
    cursor: pointer;
    text-align: center;
    -webkit-transition: transform 0.6s;
    transform-style: preserve-3d;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    position: relative;
    transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
}

.flashcard{
    background-color: white;
    height: auto;
    margin-top: 40px;
    /*padding-top: 40px;*/
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 18px rgb(135 135 135);
    border-radius: 16px;
}
.cards__single:hover{
    border: 3px solid #afafaf;
}

.cards__single.flip {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}


.cards__front,
.cards__back {
    /*min-height: 400px;*/
    max-height: 400px;
    height: auto;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
}
.option-side{
    margin-left: 10px;
}
.instruction-side{
    text-align: center;
    /*justify-content: center;*/
}

.cards__front {

    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}

.cards__back {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    /*position: absolute;*/
    /*justify-content: space-around;*/
    text-align: center;


}
.option{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;

}
input
{   
    font-weight: 300;  
    background-color: white;
    border: 3px solid #e0e0e0;
    border-radius: 16px;
    height: 70px;
    width: 100%;
}
input:hover{
    border: 3px solid #afafaf;
    /*background-color: white;*/
}