
body {
    height: 100%;
    background-color: #f5f7fb;
    /*background-color: #0a9fe2;*/    
    min-height: 900px;
}
.container_body{
    min-height: 600px;
    width: 100%;
}
.panel_top{
    min-height: 300px;
    background-color: #347b9b;
    height: auto;
}

.quiz-title-div{
    margin-top: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.creator-div{
    margin-top: 20px;
    display:flex;
}
.creator-name{
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
}
.button-enroll-div{
    font-weight: 500;
    font-size: 20px;
    /*padding-bottom: 40px;*/
    padding-top: 30px;
    /*padding: 32px 16px;*/    
}
.button-enroll{
    height: 70px;
    font-weight: 500;
    background-color:white;
    border: none;
    transition-duration: 0.4s;
}
.button-enroll:hover {background-color: #e7e7e7;}
.nums-of-enroll{
    color: white;
    font-weight: 500;
    margin-top: 10px;
}
.description-div{
    margin-top: 30px;
    color: white;
}
.description-div h2{
    font-weight: 500;
    color: white;
}

.review-panel{
    margin-top: 40px;
}

.feedback-user{
    display: flex;
}
.feedback-date{
    margin-left: 20px;
}

.show-more-div{
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-show-more{
    /*margin-top: 20px;*/
    height: 40px;
    width: 180px;
    font-weight: 500;
    background-color:white;
    border: 2px solid #3fa6fe;
    transition-duration: 0.4s;
    color: #3fa6fe;

}
.button-show-more:hover {
    background-color: #3fa6fe;
    color: white;
}