html,
body {
    height: 100%;
    background-color: #f5f7fb;
    font-weight: bold;
    font-size: 18px;
}
/*.container_body{
    display: flex;
    justify-content: center;
}*/
.container_home1{
    padding-bottom: 20px;
    display: block;
}

.container_home {
    display: block;
}
a {
    color: black;
    text-decoration: none;
}

.card {
    padding: 5px;
    background-color: #f5f7fb !important;
    border: none !important;
}
.cardholder {
    /*    align-content: center;
        display: flex;
        justify-content: center;*/
    border: none;
    background-color: #f5f7fb;
    margin: auto;
}
.cardholder1 {
    width: 100%;

    border: none;
    background-color: white;
    margin: auto;
}
.card-title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.3rem;
    line-height: 1.2rem;
    font-weight: bold;
    /* border: 1px dotted gray; */
}
.card-creator {
    display: flex;
    align-items: center;
    position: absolute;
    padding-left: 0px;
    font-size: 1rem;
    font-weight: bold;

    /* border: 1px dotted gray; */
}
.price,
.n-question {
    font-weight: normal;
    margin-left: 10px;
}
.itemhead {
    padding: 0;
    z-index: 100;
    position: absolute;
    /*    display: flex;
         margin: 10px; 
        justify-content: space-between;*/
}

.itemname {
    font-weight: bold;
    padding: 0;
    float: left;
    font-size:24px;
    /* border: 1px dashed goldenrod; */
}

.itemmore {
    /* width: 30%; */
    text-align: right;
    /* float: right; */
    font-weight: 300;
    /* border: 1px dashed goldenrod; */
}
.menu {
    margin-top: 1rem;
    height: auto;
    /*border: 1px dotted blueviolet;*/
    margin-right: 15px;
}
.center {
    margin-top: 1rem;
    height: 30rem;
    /*border: 1px dotted blueviolet;*/
    padding: 0;
}
.flashcard {
    height: 27rem;
    /*border: 1px dotted darkgray;*/
    border-radius: 10px;
    /*border: 1px solid black;*/
    -webkit-box-shadow: 0 0 10px rgb(153, 153, 153);
    box-shadow: 0 0 10px rgb(153, 153, 153);

}

.cards__single {
    /* justify-self: center; */

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: 400px;
    border-radius: 16px;
    /*box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);*/
    cursor: pointer;
    text-align: center;
    /*-webkit-transition: transform 0.6s;*/
    transform-style: preserve-3d;
    transition: 0.5s;
    /*-webkit-transition: 0.5s;*/
    position: relative;
    transition: transform 0.6s;
    /*-webkit-transition: transform 0.6s;*/
}

.cards__single.flip {
    transform: rotatex(180deg);
    /*-webkit-transform: rotatex(180deg);*/
} 

#cardButton {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonn {
    width: 100%;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    padding-right: 30px;
}

#cardText {
    transition: 0.8s;
    transform-style: preserve-3d;

    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    word-wrap: break-word;
}



div.learn {
    padding: 5px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    /*border: 1px dotted gray;*/
    margin-top: 20px;
}
div.exam {
    padding: 5px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    /*border: 1px dotted gray;*/
    margin-top: 20px;
}
div.review {
    padding: 5px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    /*border: 1px dotted gray;*/
    margin-top: 20px;
}
.card-question {
    width: 100%;
    /* width: 28vw; */
    height: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    /*border: 1px solid blueviolet;*/

    background-color: white;
    border-radius: 10px;


    -moz-box-shadow: 3px 3px rgb(153, 153, 153);
    -webkit-box-shadow: 3px 3px rgb(153, 153, 153);
    box-shadow: 3px 3px rgb(211, 211, 211);
}



div.answer {
    width: 20%;
    height: auto;

    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
div.question {
    width: 70%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid black;
    float: right;

}
.avatar{
    padding:0;
    display: flex;
}

