html,
body {
    height: 100%;
    background-color: #f5f7fb;
    font-weight: bold;
    font-size: 18px;
    min-height: 900px;
}
.container_body{
    min-height: 600px;
    width: 100%;
}
.debugg{
    color: #f5f7fb;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.container_home {
    width: 100%;
    display: block;
    /*  margin: 40px;*/
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    /* border: 1px dashed black; */
    /* height: 26rem; */
}
a {
    color: black;
    text-decoration: none;
}
.cardset {
    display: inline-block;
    /* margin-right: 20px; */
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    height: 9.4rem;

    -moz-box-shadow: 3px 3px rgb(153, 153, 153);
    -webkit-box-shadow: 3px 3px rgb(153, 153, 153);
    box-shadow: 3px 3px rgb(211, 211, 211);
}
.card {
    padding: 5px;
    background-color: #f5f7fb !important;
    border: none !important;
}
.cardholder {
    width: 80%;
    border: none;
    background-color: #f5f7fb;
    margin: auto;
}
.card-title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.3rem;
    line-height: 1.2rem;
    font-weight: bold;
    /* border: 1px dotted gray; */
}
.card-creator {
    margin-left: 10px;
    position: absolute;
    bottom: 1.5rem;
    font-size: 1rem;
    font-weight: bold;

    /* border: 1px dotted gray; */
}
.price,
.n-question {
    font-weight: normal;
    margin-left: 10px;
}
.itemhead {
    padding: 0;
    z-index: 100;
    position: absolute;
    /*    display: flex;
         margin: 10px; 
        justify-content: space-between;*/
}

.itemname {
    font-weight: bold;
    padding: 0;
    float: left;
    /* border: 1px dashed goldenrod; */
}

.itemmore {
    /* width: 30%; */
    text-align: right;
    /* float: right; */
    font-weight: 300;
    /* border: 1px dashed goldenrod; */
}
.menu {
    margin-top: 1rem;
    height: 30rem;
    border: 1px dotted blueviolet;
    margin-right: 15px;
}
.center {
    margin-top: 1rem;
    height: 30rem;
    border: 1px dotted blueviolet;
    padding: 0;
}
.flashcard {
    height: 27rem;
    border: 1px dotted darkgray;
}
.buttonn {
    width: 100%;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    padding-right: 30px;
}

#cardText {
    /* transition: 0.5s;
      transform-style: preserve-3d;
      transform: rotateY(180deg); */

    height: 27rem;
    width: 100%;
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    word-wrap: break-word;
    overflow-y: scroll;

    /* overflow:hidden; */
}
div.learn {
    padding: 5px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    border: 1px dotted gray;
    margin-top: 20px;
}
div.exam {
    padding: 5px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    border: 1px dotted gray;
    margin-top: 20px;
}
div.review {
    padding: 5px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    border: 1px dotted gray;
    margin-top: 20px;
}
.card-question {
    width: 100%;
    /* width: 28vw; */
    height: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    border: 1px solid blueviolet;
}

div.answer {
    width: 20%;
    height: auto;

    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
div.question {
    width: 70%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid black;
    float: right;
}
